<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= WRKCHAIN_NAME%></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><%= WRKCHAIN_NAME%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Block Watcher</a></li>
            <li class="nav-item"><a class="nav-link" href="/validate">Block Validation</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <br>
    <h1 class="mt-5">Latest <%= WRKCHAIN_NAME%> Block recorded on Mainchain</h1>
    <p class="lead">
        <strong>Status: </strong> <span id="status"></span><br>
        <h3><%= WRKCHAIN_NAME%> Block #<span id="block_num"></span> Submitted to Mainchain (<a href="#" id="validate_link">Validate block</a>)</h3>
        <strong>Hash:</strong> <span id="hash"></span><br>
        <strong>Parent Hash:</strong> <span id="parent_hash"></span><br>
        <strong>Tx Root:</strong> <span id="tx_root"></span><br>
        <strong>State Root:</strong> <span id="state_root"></span><br>
        <strong>Sealer:</strong> <span id="sealer"></span><br>
        <strong>Current Time:</strong> <span id="block_time"></span><br>

        <br>

        <h3>Mainchain Info</h3>
        <strong><%= WRKCHAIN_NAME%>'s WRKChain Root Contract on Mainchain:</strong> <a href="<%= MAINCHAIN_EXPLORER_URL%>/address/<%= WRKCHAIN_ROOT_CONTRACT_ADDRESS%>" target="_blank"><%= WRKCHAIN_ROOT_CONTRACT_ADDRESS%></a><br>
        <strong>Submitted in Mainchain Tx:</strong> <a target="_blank" id="tx"></a><br>
        <strong>Next check:</strong> <span id="next_block"><%= WRKCHAIN_ROOT_WRITE_TIMEOUT%></span>
    </p>

    </main>

    <footer class="footer">
    <div class="container">
        <span class="text-muted"></span>
    </div>
    </footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/WRKChainEventWatcher.proto.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>


<script type="text/javascript">

    var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg'];
    var bg_img = 'img/' + images[Math.floor(Math.random() * images.length)];

    $(document).ready(function () {

        $('body').css("background-image", "url('" + bg_img + "')");

        let wrkChainEventWatcher = new WRKChainEventWatcher('<%= WRKCHAIN_ROOT_CONTRACT_ADDRESS%>',
                                '<%= MAINCHAIN_WEB3_PROVIDER_URL%>',
                                <%- JSON.stringify(WRKCHAIN_ROOT_ABI)%>);
        updateWatcher();
        setInterval(function(){
            updateWatcher();
        }, <%= WRKCHAIN_ROOT_WRITE_TIMEOUT%> * 1000);

        setInterval(function(){
            nextCheck();
        }, 1000);

        function updateWatcher() {
            $('#status').text("Fetching data");
            $('#next_block').text(<%= WRKCHAIN_ROOT_WRITE_TIMEOUT%> + 1);
            wrkChainEventWatcher.getLatestRecordedHeader(function(success, results) {
                if(success && results.length > 0) {
                    let data = results[0];
                    console.log("data");
                    console.log(data);
                    let now = new Date(Date.now());
                    $('#block_num').text(data.returnValues.height);
                    $('#block_time').text(now.toString());
                    $('#tx').text(data.transactionHash);
                    $('#tx').attr('href','<%= MAINCHAIN_EXPLORER_URL%>/tx/' + data.transactionHash);
                    $('#hash').text(data.returnValues.hash);
                    $('#parent_hash').text(data.returnValues.parent_hash);
                    $('#receipt_root').text(data.returnValues.receipt_root);
                    $('#tx_root').text(data.returnValues.tx_root);
                    $('#state_root').text(data.returnValues.state_root);
                    $('#sunrise').text(data.returnValues.sunrise);
                    $('#sealer').text(data.returnValues.sealer);
                    $('#status').text("Success");

                    $('#validate_link').attr('href','/validate?block=' + data.returnValues.height)

                } else {
                    console.log(results);
                    $('#status').text("Please refresh to try again");
                }
            });
        }

        function nextCheck() {
            let current = parseInt($('#next_block').text());
            let next = current - 1;
            if(next < 0) {
                next = 0;
            }
            $('#next_block').text(next)
        }
    });
</script>
</body>
</html>